<div class="clearfix">
    <div class="underConstruction" style="position:relative;width:100%;min-height:0px;">oops ! We are still working on this screen !</div>
    <div class="underConstructionImg" style="position:relative;width:100%;min-height:10px;height:150px;"></div>
</div>

