@model PilotSmithApp.UserInterface.Models.BranchViewModel
    @if (@ViewBag.IsRequired == "required")
    {
        <div class="input-group">
            @Html.DropDownList("BranchCode", Model.BranchList, "--Select branch--", new { @class = "form-control newinput", @required="" , @title = "The Branch is missing" })
            <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddBranchMaster('OTR')"><i class="far fa-plus-square"></i></span>
        </div>
    }
    else
    {
        <div class="input-group">
            @Html.DropDownList("BranchCode", Model.BranchList, "--Select branch--", new { @class = "form-control newinput"})
            <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddBranchMaster('OTR')"><i class="far fa-plus-square"></i></span>
        </div>
    }

@Html.ValidationMessage("BranchCode", "", new { @class = "text-danger" })
