@model PilotSmithApp.UserInterface.Models.BranchViewModel
@if (@ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("BranchCode", Model.BranchList, "--Select branch--", new { @class = "form-control newinput", @required = "", @style = "width:100%!important", @title = "The Branch is missing", @onchange = "$('#hdnBranchCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddBranchMaster('OTR')"><i class="fa fa-plus-square"></i></span>
    </div>
}
else
{
    <div class="input-group">
        @Html.DropDownList("BranchCode", Model.BranchList, "--Select branch--", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnBranchCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddBranchMaster('OTR')"><i class="fa fa-plus-square"></i></span>
    </div>
}

@Html.ValidationMessage("BranchCode", "", new { @class = "text-danger" })
<script>
    $(document).ready(function () {
        $('#BranchCode').val($('#hdnBranchCode').val());
        $('#BranchCode').select2({});
        $('.select2').addClass('form-control newinput');
    });
</script>
