.newinput {
            border: 0px;
            border-radius: 0px;
            /* box-shadow: white 1px 6px 1px; */
            height: 30px;
            border-bottom: 1px solid #4bd24b;
            background-color: #fffdf9;
        }
        .searchicon {
              position: absolute;
              left: 86%;
              z-index: 4;
              margin-top: 5px;
              cursor:pointer;
              opacity:0.4;
            }
        :hover.searchicon{
            opacity:1;
        }
        .divboxASearch{
            position:absolute;
            width:39.4%;
            z-index:1;
            /*visibility:hidden;*/
            display:none;
            padding-left: 0px;
            padding-right: 1.7%;
            background-color: white;
            margin-top: -0.6%;
            margin-left: 1.2%;
            box-shadow: #a09e9e 0px 1px 11px 1px;
        }
        .divbox1{
            padding-left: 0px;
            padding-right: 1.7%;
            background-color: white;
            margin-top: 1.5%;
            margin-left: 4%;
            border-radius: 2%;
        }
        .divbox2 {
            padding: 0px;
            background-color: white;
            margin: 1%;
        }

        .headSeperator {
            background-color: white;
            margin-bottom: 10px !important;
            margin-top: 0px;
            color: #DB8B0B;
        }

        .no-padding {
            padding: 0px;
        }

        .no-left-padding,.dataTables_info{
            padding-left: 0px;
        }

        .no-right-padding,.dataTables_paginate {
            padding-right: 0px;
        }
        .overlay{
            background-color:#EEF5F9;
        }
        .searchbtn{
            height: 30px;
            background-color: #02a68f;
            color: #ffffff;
            border-radius: 0;
            box-shadow: #4bd24b 0px 0px 2px 1px
        }
        .content-wrapper{
            min-height:88vh!important;
        }
        .fa-pencil-square-o{
            color:#DB8B0B;
        }
        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
            background-color: #02a68f;
            border-color:#02a68f;
        }
        .odd{
            background-color:rgba(2, 166, 143, 0.11)!important; 
        }
        .excelExport{
            z-index:6;
            background-image: url(../../Content/images/excel_export.png);
            bottom: 0;
            top: 0;
            position: absolute;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            background-position: 50%;
            background-color: #eef5f9;
        }

        @-webkit-keyframes blink {
          0% { opacity:0.2;transform:scale3d(1, 1, 1) }
          50% { opacity:0.7;transform:scale3d(1.1, 1.1, 1.1) }
          75% { opacity:1;transform:scale3d(1.12, 1.12, 1.12) }
          100% { opacity:0.2}
        }
        @keyframes blink {
          0% { opacity:0.2;transform:scale3d(1, 1, 1) }
          50% { opacity:0.7;transform:scale3d(1.1, 1.1, 1.1) }
          75% { opacity:1;transform:scale3d(1.12, 1.12, 1.12) }
          100% { opacity:0.2}
        }
        @-o-keyframes blink {
          0% { opacity:0.2;transform:scale3d(1, 1, 1) }
          50% { opacity:0.7;transform:scale3d(1.1, 1.1, 1.1) }
          75% { opacity:1;transform:scale3d(1.12, 1.12, 1.12) }
          100% { opacity:0.2}
        }
        @-moz-keyframes blink {
          0% { opacity:0.2;transform:scale3d(1, 1, 1) }
          50% { opacity:0.7;transform:scale3d(1.1, 1.1, 1.1) }
          75% { opacity:1;transform:scale3d(1.12, 1.12, 1.12) }
          100% { opacity:0.2}
        }

        .filterApplied {
          -webkit-animation: blink 2000ms infinite;
          -moz-animation: blink 2000ms infinite;
          -o-animation: blink 2000ms infinite;
          animation: blink 2000ms infinite;
        }
         textarea{
            max-height:100%!important;
            min-height:100%!important;
            max-width:100%!important;
            min-width:100%!important;
        }
         span[role="combobox"]{
             border:0px!important;
             position:relative;
             top:-5px;
             background-color:transparent!important;
         }
         .select2-container--default .select2-results__option--highlighted[aria-selected]{
             background-color:#00BFA5!important;
         }
         .select2-selection__rendered{
             font-size:12px;
         }