<div class="input-group">
    @Html.DropDownList(ViewBag.PostingProperty as string,(IEnumerable<SelectListItem>)ViewBag.SelectList, new { @class = "form-control", @style = "width:100%" })
    <span class="input-group-addon" style="cursor:pointer;color:#015E9A" onclick="AddProductMaster('OTR')"><i class="fa fa-plus-square-o"></i></span>
</div>
