@model PilotSmithApp.UserInterface.Models.CompanyViewModel
@if (ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("CompanyID", Model.CompanySelectList, "--Select Category--", new { @class = "form-control newinput", @required = "", @title = "The Company is missing", @onchange = "$('#hdnCompanyID').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddCompanyMaster('OTR')"><i class="fas fa-plus-square"></i></span>
    </div>

}
else
{
    <div class="input-group">
        @Html.DropDownList("CompanyID", Model.CompanySelectList, "--Select Category--", new { @class = "form-control newinput", @onchange = "$('#hdnCompanyID').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddCompanyMaster('OTR')"><i class="fas fa-plus-square"></i></span>
    </div>

}
@Html.ValidationMessage("CompanyID", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {        
        $('#hdnCompanyID').val($('#hdnCompanyID').val());
    });
</script>
