<div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua" onclick="OpenQuotationSummaryDashboard('Quotation')">
            <h3 class="widget-user-username">Enquiries</h3>
            <h5 class="widget-user-desc">(Last 6 months)</h5>
        </div>
        <div class="widget-user-image">

            <img class="img-circle" src="~/Content/images/enquiry.png" alt="user">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 class="description-header">5</h5>
                        <span class="description-text " onclick="">Total</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 border-right">
                    <div class="description-block">
                        <h5 class="description-header">4</h5>
                        <span class="description-text " onclick="">Converted</span>
                    </div>
                    <!-- /.description-block -->
                </div>
             

              
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>
<div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-yellow" onclick="OpenQuotationSummaryDashboard('Quotation')">
            <h3 class="widget-user-username">Quotations</h3>
            <h5 class="widget-user-desc">(Last 6 months)</h5>
        </div>
        <div class="widget-user-image">

            <img class="img-circle" src="~/Content/images/document.png" alt="user">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">25</h5>
                        <span class="description-text " onclick="">Total</span>
                    </div>
                    <!-- /.description-block -->
                </div>
              
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">10</h5>
                        <span class="description-text   " >Converted</span>
                    </div>
                    <!-- /.description-block -->
                </div>

                <div class="col-sm-4  ">
                    <div class="description-block">
                        <h5 class="description-header">5</h5>
                        <span class="description-text  "  >Lost</span>
                    </div>
                    <!-- /.description-block -->
                </div>

                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>
<div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <a href="/Requisition/Index">
            <div class="widget-user-header bg-blue">
                <h3 class="widget-user-username">Sale Orders</h3>
                <h5 class="widget-user-desc">(Last 6 Months)</h5>
            </div>
        </a>
        <div class="widget-user-image">
            <img class="img-circle" src="~/Content/images/saleorder.png" alt="user">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">15</h5>
                        <span class="description-text"  >Open</span>
                    </div>
                    <!-- /.description-block -->
                </div>

                <!-- /.col -->
                @*<div class="col-sm-4 border-right">
                    <div class="description-block">*@
                @*<h5 class="description-header">@Model.CustomerPOSummary.InProgress  </h5>
                    <span class="description-text"onclick="OpenCustomerPODashboardfilter('InProgress')">In Progress</span>*@
                @*</div>*@
                <!-- /.description-block -->
                @*</div>*@
                <!-- /.col -->

                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <div class="description-block">
                        <h5 class="description-header">44</h5>
                        <span class="description-text"  >All</span>
                    </div>
                    <!-- /.description-block -->
                </div>


                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>
<div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-green-gradient"  >
            <h3 class="widget-user-username">Production Orders</h3>
            <h5 class="widget-user-desc">(Last 6 Months)</h5>
        </div>
        <div class="widget-user-image">
            <img class="img-circle" src="~/Content/images/production.png" alt="user">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">5</h5>
                        <span class="description-text">Open</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">15</h5>
                        <span class="description-text">In Prog.</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">0</h5>
                        <span class="description-text">Closed</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.widget-user -->
</div>
