@using PilotSmithApp.UserInterface.App_Start
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<section class="DashboardContainer">
    <div class="col-md-12"></div>

    <div class="col-md-6">

        @{

            @Html.Action("RecentDocument", "DashBoard");

        }


    </div>

    <div class="col-md-6">

        <div class="col-md-12 input-group" style="margin-top:10px;">
            <input type="text" name="q" id="SearchTerm" class="form-control" placeholder="Search..." style="padding:16px;" autofocus>
            <span class="input-group-btn">
                <button type="submit" name="search" id="btnSearch" onclick="SearchDocument()" class="btn btn-openid">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>

        @*<div class="box col-md-12">&nbsp;</div>*@

        <div class="box" id="divSearchResults">
            <div class="box-header"></div>
            <div class="with-border bg-gray" style="height:2px!important;"></div>
            <div class="box-body no-padding">
                <table class="table table-striped" style="height:450px;">
                    <tbody>
                        <tr>
                            <td style="text-align:center;color:#BBBBBB !important;height:90%;">
                                <i class="fa fa-search" style="font-size:300px; padding:20px;"></i><br />
                                <span style="font-size:20px; padding:20px;">Search Results</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="zoom">
        <a class="zoom-fab zoom-btn-large" id="zoomBtn" title="Add Documents"><i class="fa fa-plus"></i></a>
        <ul class="zoom-menu">
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="Enquiry?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-phone"></i></a>	 <br />
                <span class="zoom-fab-label scale-transition scale-out">Enquiry<br />&nbsp;</span>
            </li>
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="Estimate?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-newspaper-o"></i></a> <br />
                <span class="zoom-fab-label scale-transition scale-out">Estimate<br />&nbsp;</span>
            </li>
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="Quotation?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-book"></i></a> <br />
                <span class="zoom-fab-label scale-transition scale-out">Quotation<br />&nbsp;</span>
            </li>
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="SaleOrder?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-shopping-bag"></i></a><br />
                <span class="zoom-fab-label scale-transition scale-out">Sale<br />Order</span>
            </li>
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="ProformaInvoice?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-file-text"></i></a> <br />
                <span class="zoom-fab-label scale-transition scale-out">Proforma<br />Invoice</span>
            </li>
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="ProductionOrder?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-cart-arrow-down"></i></a> <br />
                <span class="zoom-fab-label scale-transition scale-out">Production<br />Order</span>
            </li>
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="ProductionQC?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-thumbs-up"></i></a> <br />
                <span class="zoom-fab-label scale-transition scale-out">Quality<br />Control</span>
            </li>
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="SaleInvoice?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-print"></i></a><br />
                <span class="zoom-fab-label scale-transition scale-out">Sale<br />Invoice</span>
            </li>
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="DeliveryChallan?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-file-text-o"></i></a> <br />
                <span class="zoom-fab-label scale-transition scale-out">Cacellation<br />Challan</span>
            </li>
            <li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out" href="ServiceCall?id=00000000-0000-0000-0000-000000000000">
                <i class="fa fa-wrench"></i></a><br />
                <span class="zoom-fab-label scale-transition scale-out">Service<br />Call</span>
            </li>
            @*<li><a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition scale-out">
                <i class="fa fa-bell"></i></a></li>*@
        </ul>
    </div>

</section>

@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJS/RecentDocument")
}