@using PilotSmithApp.UserInterface.App_Start
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<section class="DashboardContainer">
    <div class="col-md-12"></div>

    <div class="col-md-6">

        @{

            @Html.Action("RecentDocument", "DashBoard");

        }


    </div>

    <div class="col-md-6">

        <div class="col-md-12 input-group" style="margin-top:10px;">
            <input type="text" name="q" id="SearchTerm" class="form-control" placeholder="Search..." style="padding:16px;">
            <span class="input-group-btn">
                <button type="submit" name="search" id="btnSearch" onclick="SearchDocument()" class="btn btn-openid">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>

        @*<div class="box col-md-12">&nbsp;</div>*@

        <div class="box" id="divSearchResults">
            <div class="box-header"></div>
            <div class="with-border bg-gray" style="height:2px!important;"></div>
            <div class="box-body no-padding">
                <table class="table table-striped" style="height:450px;">
                    <tbody>
                        <tr>
                            <td style="text-align:center;color:#BBBBBB !important;height:90%;">
                                <i class="fa fa-search" style="font-size:300px; padding:20px;"></i><br />
                                <span style="font-size:20px; padding:20px;">Search Results</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jqueryunobtrusiveajaxvalidate")
    @Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/UserJS/RecentDocument")
}