@model PilotSmithApp.UserInterface.Models.ReferenceTypeViewModel
@if (@ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("ReferenceTypeCode", Model.ReferenceTypeSelectList, "--Select reference type--", new { @class = "form-control newinput", @required = "", @title = "The Reference type is missing", @style = "width:100%!important", @onchange = "$('#hdnReferenceTypeCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b"></span>
    </div>
}
else
{
    <div class="input-group">
        @Html.DropDownList("ReferenceTypeCode", Model.ReferenceTypeSelectList, "--Select reference type--", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnReferenceTypeCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b"></span>
    </div>
}

@Html.ValidationMessage("ReferenceTypeCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#ReferenceTypeCode').val($('#hdnReferenceTypeCode').val());
        $('#ReferenceTypeCode').select2({});
        $('.select2').addClass('form-control newinput');
    });
</script>























