@model PilotSmithApp.UserInterface.Models.ProductViewModel
@if (ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("ProductCode", Model.ProductSelectList, "--Select Category--", new { @class = "form-control newinput", @required = "", @title = "The Category is missing", @onchange = "$('#hdnProductCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddProductMaster('OTR')"><i class="fas fa-plus-square"></i></span>
    </div>

}
else
{
    <div class="input-group">
        @Html.DropDownList("ProductCode", Model.ProductSelectList, "--Select Category--", new { @class = "form-control newinput", @onchange = "$('#hdnProductCode').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddProductMaster('OTR')"><i class="fas fa-plus-square"></i></span>
    </div>

}
@Html.ValidationMessage("ProductCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {       
        $('#ProductCode').val($('#hdnProductCode').val());
    });
</script>

