@model PilotSmithApp.UserInterface.Models.AreaViewModel
@if (@ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("AreaCode", Model.AreaSelectList, "--Select area--", new { @class = "form-control newinput", @required = "", @title = "The State is missing" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddAreaMaster('OTR')"><i class="far fa-plus-square"></i></span>
    </div>
}
else
{
    <div class="input-group">
        @Html.DropDownList("AreaCode", Model.AreaSelectList, "--Select area--", new { @class = "form-control newinput" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddAreaMaster('OTR')"><i class="far fa-plus-square"></i></span>
    </div>
}

@Html.ValidationMessage("AreaCode", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#AreaCode");
    });
</script>