@model PilotSmithApp.UserInterface.Models.ProductModelViewModel
@if (ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("ProductModelID", Model.ProductModelSelectList, "--Select model--", new { @class = "form-control newinput", @style = "width:100%!important", @required = "", @title = "The model is missing", @onchange = "$('#hdnProductModelID').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddProductModelMaster('OTR')"><i class="fa fa-plus-square"></i></span>
    </div>

}
else
{
    <div class="input-group">
        @Html.DropDownList("ProductModelID", Model.ProductModelSelectList, "--Select model--", new { @class = "form-control newinput", @style = "width:100%!important", @onchange = "$('#hdnProductModelID').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddProductModelMaster('OTR')"><i class="fa fa-plus-square"></i></span>
    </div>

}
@Html.ValidationMessage("ProductModelID", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#ProductModelID').val($('#hdnProductModelID').val());
        $('#ProductModelID').select2({
            dropdownParent: $('.divProductModelSelectList')
        });
        $('.select2').addClass('form-control newinput');
        $('#ProductModelID').change(function () {
            if ($('#divProductBasicInfo') != undefined) {
                $('#divProductBasicInfo').load("ProductModel/ProductModelBasicInfo?ID=" + (this.value == "" ? '00000000-0000-0000-0000-000000000000' : this.value), function () {
                    $('#ProductSpec').val($('#spnProductName').text());
                    $('#Rate').val($('#spnSellingPrice').text().replace('₹ ', '').trim());
                    $('#CostRate').val($('#spnCostPrice').text().replace('₹ ', ' ').trim());
                    $('#SellingRate').val($('#spnSellingPrice').text().replace('₹ ', ' ').trim());
                        $('#UnitCode').val($('#hdnProductModelUnitCode').val());
                        $('#hdnUnitCode').val($('#hdnProductModelUnitCode').val());
                        $('#UnitCode').trigger('change');
                });
            }
        });
    });
</script>


