@model PilotSmithApp.UserInterface.Models.ProductModelViewModel
@if (ViewBag.IsRequired == "required")
{
    <div class="input-group">
        @Html.DropDownList("ProductModelID", Model.ProductModelSelectList, "--Select Category--", new { @class = "form-control newinput", @required = "", @title = "The Category is missing", @onchange = "$('#hdnProductModelID').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddProductModelMaster('OTR')"><i class="fas fa-plus-square"></i></span>
    </div>

}
else
{
    <div class="input-group">
        @Html.DropDownList("ProductModelID", Model.ProductModelSelectList, "--Select Category--", new { @class = "form-control newinput", @onchange = "$('#hdnProductModelID').val(this.value)" })
        <span class="input-group-addon" style="cursor:pointer;color:#4bd24b;box-shadow:0px 1px 3px 0px #4bd24b" onclick="AddProductModelMaster('OTR')"><i class="fas fa-plus-square"></i></span>
    </div>

}
@Html.ValidationMessage("ProductModelID", "", new { @class = "text-danger" })

<script>
    $(document).ready(function () {
        $('#ProductModelID').val($('#hdnProductModelID').val());
    });
</script>


